<?xml version="1.0"?>
<config>
  <!-- 
	  support multi service address, can be either domain or ip
	  address:port is where the service actually listens, it is ok in another server, as long as can be reached from this server instance
	  service_port is the port our r-nat-s listens at, change the port if a port is used by other r-nat-c
  -->
  <service>
    <node address="127.0.0.1" port="80" service_port="10080"/>
    <node address="127.0.0.1" port="8080" service_port="18080"/>
    <node address="127.0.0.1" port="21" service_port="10021"/>
    <node address="127.0.0.1" port="4018" service_port="14018"/>
    <node address="127.0.0.1" port="4019" service_port="14019"/>
    <node address="127.0.0.1" port="3389" service_port="13389"/>
    <node address="127.0.0.1" port="1025" service_port="11025"/>
    <node address="127.0.0.1" port="5900" service_port="15900"/>
   </service>
 
  <remote>
  <!-- 
	  support multi address, can be either domain or ip
	  here are all r-nat-s addresses, final user can reach service at these addresses: service_port
  -->
    <node address="1.1.1.1" port="443" concurrency="10"/>
  </remote>
<!--
recv_buf: should be smaller than max_packet_size, no need to be larger than 64K
packet_defragment: re-assemble packet for less packets
tcp_send_no_delay: control tcp:nolay
-->
<system
load_policy="seq"
max_packet_size="11264000"
recv_buf_size="4096"
queue_limit="10"
tcp_send_no_delay="1"
tcp_connect_timeout="30"
packet_defragment="1"/>
</config>
